/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
margin-left: auto;
margin-right: auto;
 border-spacing: 5px;
  width: 400px;
  border-radius: 15%;
  border-style: solid;
  border-color: rgb(2, 49, 7);
  border-width: 5px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
 
    border-style: solid;
   border-color: rgb(2, 49, 7);
   border-width: 5px;
   fill: black;
  
}
 .para3 {
    text-indent: 50px;
    

 }  



/* The code below a solid black border to section and puts space between them (the margin). */
.section1 {

    border-style: solid;
   border-color: rgb(2, 49, 7);
   border-width: 5px;
   
  
}
.section2 {
  
    border-style: solid;
   border-color: rgb(2, 49, 7);
   border-width: 5px;
   
  
}
.section3 {
 
    border-style: solid;
   border-color: rgb(2, 49, 7);
   border-width: 5px;
   
  
}
.img1{
    margin-right: 25px;
    margin-left: 25px;
     margin-bottom: 25px;
    margin-top: 25px;
    width: 350px;
    height: 250px;
}
.img2{
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 350px;
    height: 218px;
}
.img3{
    margin-right: 25px;
    margin-left: 25px;
     margin-bottom: 25px;
    margin-top: 25px;
    width: 350px;
    height: 250px;
}
