/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
margin-left: auto;
margin-right: auto;
 border-spacing: 5px;
  width: 400px;
  border-radius: 15%;
  border-style: solid;
  border-color: rgb(2, 49, 7);
  border-width: 5px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
  margin-right: 5px;
    margin-left: 5px;
      margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
   border-color: rgb(2, 49, 7);
   border-width: 5px;

}